@import './config.css';

/* $isDev: true; */
@mixin drawGuideline $isDev;

body {
  background-color: $color-body;
  letter-spacing: -0.02em;
}

h1 {
  letter-spacing: -0.05em;
}
h2, h3, h4, h5, h6 {
  letter-spacing: -0.03em;
}
