{
  "extends": [
    "react-app"
  ],
  "globals": {
    "__PREFIX_LINKS__": true,
    "graphql": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
  }
}