{
  "extends": "eslint-config-airbnb",
  "globals": {
    "__PREFIX_LINKS__": true,
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": [0],
    "func-names": [0],
    "no-else-return": [0],
    "space-infix-ops": [0],
    "react/prefer-es6-class": [0],
    "react/prefer-stateless-function": [0],
    "react/jsx-filename-extension": [0],
    "import/no-unresolved": [0],
    "global-require": [0],
    "arrow-body-style": [0],
    // 'gatsby-helper', 'config'
    "import/no-extraneous-dependencies": [0],
    "import/imports-first": [0],
    "import/newline-after-import": [0],
  }
}