@import '../css/config.css';

.wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid styles.colors.border;
}

.Footer {
  position: relative;
  margin-top: 2px;
  padding: 1rem;
  lost-center: $wrapper-max;
  min-height: $footer-height;
  font-size: 0.8rem;
}

.copyright {
  float: left;
}

.owner {
  text-decoration: underline;
}

.Footer-links {
  float: right;
  font-size: 1rem;

  & > * {
    margin-left: 0.5em;
  }
}

