@custom-media --desktop (max-width: 1100px);
@custom-media --tablet (max-width: 900px);
@custom-media --mobile (max-width: 500px);

$desktop-max: 1100px;
$tablet-max: 900px;
$mobile-max: 500px;

$post-width: 740px;
$nav-height: 3rem;
$footer-height: 3.5rem;
$wrapper-max: 1070px;
$color-body: #fafafa;
styles.colors.border: #ebebeb;
$color-gray-01: rgba(0, 0, 0, 0.44);


@define-mixin drawGuideline $isDev {
  @if $isDev == true {
    * {
      outline: 1px solid #f00;
    }

    input {
      outline: 1px solid #0f0;
    }

    a {
      outline: 1px solid #00f;
    }

    button {
      outline: 1px solid #0ff;
    }

    li {
      outline: 1px solid #ff0;
    }

    span {
      outline: 1px solid #f0f;
    }
  }
}
