h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
p > code,
span > code,
li > code,
a > code {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word;
	background: #f8f8f8;
	display: inline;
	/* font-family: Inconsolata, monospace, serif; */
	max-width: 100%;
	overflow: auto;
	padding: 0.1em 0.5em;
  font-size: 0.9em;
}

pre code {
	display: block;
	border-radius: 3px;
	overflow-x: auto;
	padding: 0.5em 1em;
	font-size: 0.85em;
	color: #333;
	border: 1px solid #d1d5da;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}