@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {

  background-color: #fafafa;
}

.wrapper {
  /* 사이트 최대 넓이 */
  lost-center: 1070px;
}

