/* Noto Sans */
@font-face {
  font-family: 'Noto Sans KR';
  src: url('https://s3.ap-northeast-2.amazonaws.com/rhostem-cdn/blog/font/notokr-regular.woff2') format('woff2'),
       url('https://s3.ap-northeast-2.amazonaws.com/rhostem-cdn/blog/font/notokr-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('https://s3.ap-northeast-2.amazonaws.com/rhostem-cdn/blog/font/notokr-bold.woff2') format('woff2'),
       url('https://s3.ap-northeast-2.amazonaws.com/rhostem-cdn/blog/font/notokr-bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

/* @import를 이용한 폰트 추가는 AMP 스펙에 맞지 않음 */
/* PT Sans Narrow */
/* @import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow'); */

/* Menlo */
/* @import url('https://s3.ap-northeast-2.amazonaws.com/rhostem-cdn/blog/font/menlo-regular.css'); */
