@import '../css/config.css';

.wrap {
  clear: fix;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid $color-border;
}

.navigation {
  lost-center: $wrapper-max;
  padding: * 1rem;
}

.header {
  float: left;
  font-weight: normal;
  font-size: 1.2rem;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: $nav-height;
  letter-spacing: 0;
  margin: 0;
}

.menuBar {
  float: left;
  list-style: none;
  padding-left: 0;
}

.menu {
  font-size: 16px;
  line-height: $nav-height;
  font-weight: 400;
  color: #222;
}

.blog-nav ul li a.current {
  border-bottom: 1px solid;
}

.blog-nav ul li a:hover {
  border-bottom: 1px solid;
}
