@import '..//css/config.css';

.Post {
  lost-center: $post-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.444rem;
  padding: * 2rem;
  background-color: #fff;

  h1 {
    text-align: left;
    font-weight: 700;
  }

  a {
    text-decoration: underline;
  }

  @media (max-width: 900px) {
    padding: 0 1.5rem;
    margin-bottom: 26px;
  }

  @media (max-width: $mobile-max) {
    padding: 0 1.2rem;
    margin-bottom: 26px;
  }
}

.Post-postDesc {
  margin-bottom: 3.4444rem;
}

.Post-text {
  margin-bottom: 3.4444rem;

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.Post-disqus {
  /* margin-bottom: 1.4444rem; */
}


.Post .text {
  margin-left: auto;
  margin-right: auto;
}

.Post .footer {

}

.date-published {
  margin: 0.7rem 0;
  color: rgba(0,0,0,.44);
  font-size: 0.9rem;
}

.Post-iframeWrapper {
  position: relative;
  display: block;
  padding-bottom: 56.25%; // 16:9
}

.Post-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}