@import '../static/css/config.css';
.postList {

}

.post {
  display: block;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .09);

  & .title {
    margin: 0 0 1rem;
    font-size: 2rem;
    font-weight: 500;
  }

  & .mainImage {
    height: 20rem;
    margin: 1rem auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: $mobileMax) {
      height: 12rem;
    }
  }

  & .preview {
    display: -webkit-box;
    width: 100%;
    max-height: 2.1rem;
    margin-top: 0.5rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 0.8rem;
    line-height: 1.4;
  }

  & time {
    font-size: 0.8rem;
  }

  & .readMore {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: $color-01;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

