@import '../static/css/config.css';

.postList {
  max-width: $post-width;
  margin-left: auto;
  margin-right: auto;
}

.post {
  display: block;
  padding: 1.75rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .09);

  @media (max-width: $mobile-max) {
    padding: 1rem;
  }

  .mainImage {
    width: 100%;
    height: auto;
    margin: 0 auto 1rem;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;

    /* @media (max-width: $mobile-max) {
      margin: 0.5rem auto;
      height: 11rem;
    } */
  }


  .title {
    margin: 0 0 0.5rem;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.4;
  }

  .mainImage + .title {
    margin-top: 1.75rem;
  }

  .preview {
    display: -webkit-box;
    width: 100%;
    max-height: 2.4rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 0.85rem;
    line-height: 1.4;

    @media (max-width: $mobile-max) {
      margin-top: 1rem;
    }
  }

  .tagWrapper {
    margin-top: 1rem;
  }

  .postFooter {
    margin-top: 1rem;
    clear: fix;
    @media (max-width: $mobile-max) {
      margin-top: 0.75rem;
    }
  }

  time {
    float: left;
    font-size: 0.8rem;
    color: rgba(#000, 0.44);
  }

  .readMore {
    float: right;
    font-size: 0.8rem;
    color: $color-01;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

