@import '../css/config.css';
$post-vertical-gap: 3rem;

.postList {
  lost-center: $post-width;
  padding: 2rem 1rem;
}

.post {
  display: block;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .09);
  margin: $post-vertical-gap 0;

  &:first-child {
    margin-top: 0;
  }
}

.mainImage {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;

  @media (max-width: $mobile-max) {
    height: 200px;
  }
}

.postInfo {
  padding: 1.75rem;
  @media (max-width: $mobile-max) {
    padding: 1.25rem;
  }
}

.title {
  margin: 0 0 0.5rem;
  font-size: 1.45rem;
  font-weight: 400;
  line-height: 1.625;

  @media (min-width: $mobile-max) {
    /* font-size: 1.75rem; */
  }
}

.preview {
  display: -webkit-box;
  width: 100%;
  max-height: 2.8rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-size: 0.85rem;
  line-height: 1.4rem;

  @media (max-width: $mobile-max) {
    margin-top: 1rem;
  }
}

.tagWrapper {
  margin-top: 1rem;
}

.postFooter {
  margin-top: 0.75rem;
  clear: fix;
  @media (max-width: $mobile-max) {
    margin-top: 0.75rem;
  }
}

.time {
  font-size: 0.8rem;
  color: rgba(#000, 0.44);
}

.readMore {
  float: right;
  font-size: 0.8rem;
  color: #b06ab3;
  background: #b06ab3ee;
}

&:not(:last-child) {
  margin-bottom: 1rem;
}

