@import '..//css/config.css';

.Post {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3.444rem;
	background-color: #fff;
}

.Post h1 {
	text-align: left;
	font-weight: 700;
}

.Post-postDesc {
	margin-bottom: 3.4444rem;
}

.Post .text {
	margin-bottom: 31px;
	padding: * 1rem;
}

.Post a {
	text-decoration: underline;
}

.Post .text {
	max-width: $post-width;
	margin-left: auto;
	margin-right: auto;
}

.Post .text img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.Post .footer {
	max-width: $post-width;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 31px;
}

@media (max-width: 900px) {
	.Post .text,
	.Post .footer {
		padding: 0 1.5rem;
		margin-bottom: 26px;
	}
}

@media (max-width: $mobile-max) {
	.Post .text,
	.Post .footer {
		padding: 0 1.2rem;
		margin-bottom: 26px;
	}
}

.date-published {
	margin: 0.7rem 0;
	color: rgba(0,0,0,.44);
	font-size: 0.9rem;
}