.tag {
  font-size: 0.8rem;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 3px;
  color: rgba(0,0,0, 0.6);
  background-color: rgba(0,0,0, 0.04);
  margin: 0 4px 4px 0;
  &:not(:last-child) {
    margin-right: 4px;
  }

  &:hover {
    background-color: rgba(0,0,0, 0.1);
  }
}
