@import '..//css/config.css';

.wrapper {
  padding-top: $nav-height;
  /* 사이트 최대 넓이 */
  lost-center: 1070px;
  background-color: #fff;
}

.content {
  background-color: $color-body;
}

.main {
  padding: 1.1rem 1rem;
}

/* desktop */
@media (max-width: 1100px) {
}

/* tablet(=small desktop) */
@media (max-width: 900px) {
}

/* mobile */
@media (max-width: 500px) {
}
