@import '../css/config.css';

/* 최상위 요소 */
.wrapper {
  position: relative;
  padding-top: $nav-height;
  padding-bottom: $footer-height;
  /* 사이트 최대 넓이 */
  min-height: 100vh;
  /* background-color: $color-body; */
}

.content {
  lost-center: $wrapper-max;
  background-color: #fff;
}

/* desktop */
@media (max-width: 1100px) {
}

/* tablet(=small desktop) */
@media (max-width: 900px) {
}

/* mobile */
@media (max-width: 500px) {
}
